.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(11, 11, 11);
  top: 0;
  flex: 1;
  min-width: none;
  z-index: 11002;
  position: sticky;
  opacity: .8;
}

.FlexBox{
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(11, 11, 11);
}
.left-side {
  width: 680px;
  height: 60px;
  display: flex;
  background-color: rgb(11, 11, 11);
  margin-right: 50px;
}
.Logo {
  padding-top: 10px;
  height: 36px;
}
.Header-list{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
}
.Header-list a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial;
}
.More{
  background-color: rgb(11, 11, 11);
  color: white;
  border: none;
  cursor: pointer;
}
.caret {
  background-color: rgb(11, 11, 11);
  color: white;
  border: none;
  margin-left: -4px;
  z-index: 20;
  width: 20px;
  cursor: pointer;
}
.caret-options{
  border-width: 20px;
}
.News-tooltip, .Shop-tooltip{
  padding-bottom: 10px;
}
.News-tooltip:hover, .Shop-tooltip:hover, .Header-list a:hover {
  color: rgb(76, 204, 255);
}
.tooltip{
  position: fixed;
  margin-top: 18px;
  background-color: rgb(11, 11, 11);
  opacity: 1;
  padding-left: 20px;
  padding-right: 130px;
  font-family: Roboto, Arial;
  border-radius: 8px;
}
.right-side{
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: space-between;
  background-color: rgb(11, 11, 11);
  width: 270px;
  height: 60px;
}
.Search-icon {
  width: 38px;
  background-color: rgb(11, 11, 11);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.Search-icon-after{
  width: 22px;
  background-color: rgb(49, 49, 49);
  color: white;
  cursor: pointer;
  border-color: lightgrey;
  border-width: 1px;
  border-left-width: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-style: solid;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: -8px;
  margin-left: -12px;
}
#Search-icon-div{
  background-color: rgb(11, 11, 11);
}
#Search-icon-btn, #Search-icon-btn-after{
  background-color: rgb(11, 11, 11);
  border: none;
}
#searchbar{
  width: 1px;
  opacity: 0;
}
#searchbar-after{
  background-color: rgb(49, 49, 49);
  width: 160px;
  height: 20px;
  padding-left: 20px;
  margin-right: 0px;
  margin-left: -220px;
  padding-right: 20px;
  opacity: 1;
  border-right-width: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: lightgrey;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
}
.account-icon {
  width: 26px;
  height: 30px;
  margin-top: 14px;
  color: white;
  margin-right: 0px;
  cursor: pointer;
}
.Trial-signup-btn {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px black;
  background-color: rgba(0,174,240,1);
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  border: 2px ;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 20px;
}
.Trial-signup-btn-after{
  opacity: 0;
}


@media only screen and (max-width: 1199px) {
  .left-side{
    width: 580px;
    height: 60px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .Logo{
    width: 120px;
  }
  .Header-list{
    padding-left: 0;
  }
  .account-icon {
    width: 20px;
  }
  .Search-icon {
    width: 30px;
  }
  .right-side{
    width: 200px;
    margin-right: 20px;
  }
}