.big-login{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.input{
  padding: 6px;
  margin-top: 10px;
  padding-right: 140px;
  border-radius: 8px;
  border: none;
}