.coverphoto{
  width: 1200px;
}
.grid-container{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 420px 420px 420px;
  gap: 30px;
}
.grid-boxes{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  width: 370px;
  height: 430px;
}
.box-image0, .box-image1, .box-image2, .box-image3, .box-image4, .box-image5, .box-image6, .box-image7, .box-image8{
  background-color: blue;
  width: auto;
  height: 190px;
  z-index: 4;
  cursor: pointer;
}
.box-news-title0, .box-news-title1, .box-news-title2, .box-news-title3, .box-news-title4, .box-news-title5, .box-news-title6, .box-news-title7, .box-news-title8{
  background-color: rgb(34, 34, 34);
  color: white;
  width: 360px;
  height: 70px;
  z-index: 2000000;
  padding-top: 20px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
}
.box-sample-text0, .box-sample-text1, .box-sample-text2, .box-sample-text3, .box-sample-text4, .box-sample-text5, .box-sample-text6, .box-sample-text7, .box-sample-text8{
  height: 150px;
  width: 360px;
  padding-left: 10px;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}
.image-for-box{
  width: 370px;
  height: 190px;
  z-index: 5;
}
@media only screen and (max-width: 1199px) {
  .coverphoto {
    width: 1000px;
  }
  .grid-container{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 440px 440px;
    grid-template-rows: 420px 420px 420px 420px;
    gap: 30px;
  }
  .grid-boxes{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    width: 450px;
    height: 430px;
  }
  .box-image0, .box-image1, .box-image2, .box-image3, .box-image4, .box-image5, .box-image6, .box-image7, .box-image8{
    background-color: blue;
    width: auto;
    height: 190px;
    z-index: 4;
    cursor: pointer;
  }
  .box-news-title0, .box-news-title1, .box-news-title2, .box-news-title3, .box-news-title4, .box-news-title5, .box-news-title6, .box-news-title7, .box-news-title8{
    background-color: rgb(34, 34, 34);
    color: white;
    width: 440px;
    height: 70px;
    z-index: 2000000;
    padding-top: 20px;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    cursor: pointer;
  }
  .box-sample-text0, .box-sample-text1, .box-sample-text2, .box-sample-text3, .box-sample-text4, .box-sample-text5, .box-sample-text6, .box-sample-text7, .box-sample-text8{
    height: 150px;
    width: 440px;
    padding-left: 10px;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
  }
  .image-for-box{
    width: 450px;
    height: 190px;
    z-index: 5;
  }
}
@media only screen and (max-width: 1000px) {
  .coverphoto {
    width: 800px;
  }
  .grid-container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 370px 370px;
    grid-template-rows: 420px 420px 420px 420px;
    gap: 30px;
  }
  .grid-boxes{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    width: 380px;
    height: 430px;
  }
  .box-image0, .box-image1, .box-image2, .box-image3, .box-image4, .box-image5, .box-image6, .box-image7, .box-image8{
    background-color: blue;
    width: auto;
    height: 190px;
    z-index: 4;
    cursor: pointer;
  }
  .box-news-title0, .box-news-title1, .box-news-title2, .box-news-title3, .box-news-title4, .box-news-title5, .box-news-title6, .box-news-title7, .box-news-title8{
    background-color: rgb(34, 34, 34);
    color: white;
    width: 370px;
    height: 70px;
    z-index: 2000000;
    padding-top: 20px;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    cursor: pointer;
  }
  .box-sample-text0, .box-sample-text1, .box-sample-text2, .box-sample-text3, .box-sample-text4, .box-sample-text5, .box-sample-text6, .box-sample-text7, .box-sample-text8{
    height: 150px;
    width: 370px;
    padding-left: 10px;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
  }
  .image-for-box{
    width: 380px;
    height: 190px;
    z-index: 5;
  }
}
@media only screen and (max-width: 800px) {
  .coverphoto {
    width: 600px;
  }
  .grid-container{
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 420px 420px 420px 420px 420px;
    gap: 30px;
  }
}