.coverphoto{
  width: 1200px;
}

.grid-container{
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 420px 420px 420px;
  gap: 30px;
}

.box-image{
  background-color: blue;
  width: auto;
  height: 190px;
  z-index: 4;
}
.box-news-title{
  background-color: pink;
  width: 380px;
  height: 80px;
  z-index: 2000000;
}
.box-sample-text{
  height: 160px;
  background-color: blueviolet;
}
.image-for-box{
  width: 380px;
  height: 190px;
  z-index: 5;
}