.coverphoto{
  max-width: 1200px;
  width: 1200px;
}

@media only screen and (max-width: 1199px) {
  .coverphoto {
    width: 1000px;
  }
}

.hr1{
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #555, #5A5A5A, #555);
}

.sub-main-container{
  margin-left: 8px;
}