.coverphoto{
  max-width: 1200px;
  width: 1200px;
}

.hr1{
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #555, #5A5A5A, #555);
}

.sub-main-container{
  margin-left: 14px;
}

.prefences-div{
  margin-bottom: 30px;
}

.prefences{
  display: inline;
  font-size: 14px;
  color: #888787;
}

.prefences-btn{
  background-color: rgb(21, 185, 250);
  border: none;
  border-radius: 4px;
  padding: 4px;
  color: white;
}

.prefences-btn:hover{
  background-color: rgb(3, 156, 216);
}

.sub-main-grid{
  margin-left: -20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
  grid-template-rows: repeat(auto-fill, minmax(140px, 140px));
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  gap: 10px;
  margin-bottom: 20px;
}
.anime-prefences-preview{
  display: inline;
  width: auto;
  height: auto
}

.anime-times-flexbox{
  width: auto;
}

.catagory-tooltip, .genre-tooltip{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin: 0;
  margin-top: 4px;
  padding: 10px 20px;
  color: white;
  background-color: rgb(11, 11, 11, 0.8);
  z-index: 10000000;
  border-radius: 4px;
  position: absolute;
  opacity: 0;
}
.catagory-tooltip{
  margin-left: 76px;
}
.genre-tooltip{
  margin-left: 205px;
}
.C-tooltips:hover, .G-tooltips:hover{
  color: rgb(76, 204, 255);
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .coverphoto {
    width: 1000px;
  }
  .sub-main-grid{
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    grid-template-rows: repeat(auto-fill, minmax(140px, 140px));
    height: auto;
    /*margin-bottom: 70px;*/
  }
  .anime-prefences-preview{
    display: inline;
    width: 220px;
    height: auto;
  }
  .anime-times-flexbox{
    width: 200px;
  }
  .anime-Previews{
    width: 220px;
    height: 130px;
  }
  .new-episode-times{
    margin-top: -114px;
    margin-left: -220px;
  }
  .hovers{
    padding-top: 55px;
    text-align: center;
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .coverphoto {
    width: 800px;
  }
  .sub-main-grid{
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    grid-template-rows: repeat(auto-fill, minmax(140px, 140px));
    height: auto;
    /*margin-bottom: 70px;*/
  }
  .anime-prefences-preview{
    display: inline;
    width: 220px;
    height: auto;
  }
  .anime-times-flexbox{
    width: 200px;
  }
  .anime-Previews{
    width: 220px;
    height: 130px;
  }
  .new-episode-times{
    margin-top: -114px;
    margin-left: -220px;
    opacity: 1;
  }
  .hovers{
    padding-top: 55px;
    text-align: center;
    padding-bottom: 55px;
    padding-left: 40px;
    padding-right: 42px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 800px) {
  .coverphoto {
    width: 600px;
  }
  .sub-main-grid{
    grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
    grid-template-rows: repeat(auto-fill, minmax(140px, 140px));
    height: auto;
    /*margin-bottom: 70px;*/
  }
  .anime-prefences-preview{
    display: inline;
    width: 220px;
    height: auto;
  }
  .anime-times-flexbox{
    width: 200px;
  }
  .anime-Previews{
    width: 220px;
    height: 130px;
  }
  .new-episode-times{
    margin-top: -114px;
    margin-left: -220px;
    opacity: 1;
  }
  .hovers{
    padding-top: 55px;
    text-align: center;
    padding-bottom: 55px;
    padding-left: 60px;
    padding-right: 62px;
    font-size: 13px;
  }
}