.SEARCH-H1{
  color: #333;
  font-weight: 500;
  margin-left: 10px;
}
.hr1{
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #555, #5A5A5A, #555);
}
.search-searchpage{
  margin-top: 30px;
  width: 500px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  height: 34px;
  margin-right: auto;
  margin-left: 300px;
  background-color: rgb(24, 24, 24);
  color: white;
}
.Search-icon-searchpage{
  width: 30px;
  height: 20px;
}
.Search-icon-searchpage-btn{
  cursor: pointer;
  width: 30px;
  height: 20px;
  border: none;
  margin-left: -40px;
  position: relative;
  bottom: -4px;
}

#Anime-search-result-div{
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}
.searched-anime-image{
  width: 320px;
  height: 180px;
  margin-left: 20px;
  border-radius: 10px;
}
.anime-search-description-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  margin-left: 60px;
  height: 160px;
  color: white;
}